html{
    height:100%;
}
body{
    background: url(./PageBG2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}
main{
    padding: 30px;
    padding-bottom: 50px;
    min-height:100vh;
}
.loginContainer
{
    width:300px;
    max-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 2rem;
    box-shadow: black ;
    border-radius: var(--border-radius);
    background: white;
    padding: 10px;

}
.payContainer
{
    height:500px;
    width:98%;
    
    align-items: center;
    justify-content: center;
    margin: 1rem;
    padding: 2rem;
    box-shadow: black ;
    border-radius: var(--border-radius);
    background: white;
    padding: 10px;

}
.form_title{
    font-size: 30px;
}
.form_title{
    margin-bottom: 2rem;
    text-align: center;
}
.form__message{
    text-align: center;
    margin-bottom:1rem;
}
.form__message--success{
    color: green;
}
.form__message--error{
    color: red
}
.form__input-group{
    margin-bottom: 1 rem;
}
.form__input{
    display: block;
    width:100%;
    padding: 0.75rem;
    box-sizing: boder-box;

}
.form__input--error{
    color:red;
    border-color:red; 
}
.form__input-error-message{
    margin-top: 0.5rem;
    font-size:0.85rem;
    color: red;
}
.form__button{ 
    width:40%;
    font-weight: bold;
    color: black;
}
.form__button:active{ 
    transform: scale(0.90);
}
.form--hidden{
    display:none;
}


#headerRTRLogo{
    position: relative;
    max-height: 75px;
    max-width: 150px;
}
.links
{

    background-color: black;
    text-align: center;
}
.no_Underline
{
    color: rgb(0, 132, 255);
    text-decoration: none;
}
footer{
    padding:-10px;
    width: 100%;
    background-color: black;
    position: fixed;
    clear: both;
    height: fit-content;
    text-align: center;
    justify-content: center;
    bottom:0;
    
}

footer p{
    padding:-10px;
    font-size: 8px;
    margin: 0 auto;
    text-align: center;
    text-decoration: underline;
    
     color: white;
     
    
}
